/* todos os arquivos CSS do index.html em um unico arquivo */

/* cor de fundo principal da index.html */
body {
  background-color: rgb(255, 187, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

figure {
  text-align: center;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(0, 0, 0);
  margin: 30px;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
}

.restaurant_tagline,
.virada_paulista,
.strogonoff,
.feijoada {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  width: 100%;
}

figcaption {
  margin-top: 10px;
}

/* menu */
    /* cardapios*/
table,
th,
td {
  border: 3px solid rgb(255, 255, 255);
  width: 80%;
}


/* redes sociais */

.restaurant_item-lista {
  font-weight: 500;
  margin: 0.625em 0;
  order: 1;
  margin: 0;
}

/* curiosidades */
.city {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(240, 124, 0);
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
}

/* formulario */
input[type=text],
select {
  width: 70%;
  padding: 10px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 70%;
  background-color: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 0px 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fff8f8;
}

div {
  border-radius: 5px;
  background-color: rgb(240, 173, 2);
  padding: 20px;
}