/* INDEX.HTML */
/* curiosidades do index.html */
.city {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(235, 125, 7);
    margin: 50px;
    padding: 10px;
  }