/*REDES_SOCIAIS.HTML
/* Cor de fundo */
 body {
    background-color: rgb(255, 187, 0);
}   

/* endereço (utilizado)*/
  .city {
    background-color: rgb(255, 255, 255);
    color:black;
    border: 3px solid rgb(255, 153, 0);
    margin: 20px;
    padding: 10px;
}