/* TODOS OS ARQUIVOS CSS DO RESTAURANT1.HTML EM UM ÚNICO ARQUIVO */

/* Cor de fundo principal */
body {
    background-color: rgb(254, 254, 254);
}


* {
    box-sizing: border-box;
}


/* Fonte de letra */
body {
    font-family: fantasy;
}


/* Estilizar o cabeçalho */
header {
    background-color: rgb(255, 187, 0);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(76, 46, 3)
}

/* Cria duas colunas/caixas que flutuam uma ao lado da outra*/ 
nav {
    float: left;
    width: 30%;
    height: 300px;
    /* Apenas uma demonstração, deve ser removido */
    background: rgb(240, 240, 240);
    padding: 20px;
}

/* Estilize a lista dentro do menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(255, 187, 0);
    height: 400px;
    /* Apenas uma demonstração, deve ser removido */
}

/* floats após as colunas */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilize o rodapé */
footer {
    background-color: #000000;
    padding: 1px;
    text-align: center;
    color: rgb(240, 240, 238);
}

/* Layout responsivo - faz com que as duas colunas/caixas sejam empilhadas uma em cima da outra em vez de uma ao lado da outra, em telas pequenas */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}